@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,italic,700");
:root {
  --bg-color:#23233B;
  --accent-color:#57D9A6;
  --tytle-color:#1C1C33;
  --text-color:#4E4E65;
  --white-textColor:#F6F6F8;
  --hover-color:#258B63;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F5F5F5;
}
body._lock {
  overflow: hidden; /*чтобы при открытии меню мы не смогли скролить сайт*/
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

button {
  cursor: pointer;
  border: none;
}

input[type=email] {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}

.btn {
  background-color: var(--accent-color);
  border-radius: 4px;
  padding: 16px 24px;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  color: var(---tytle-color);
  transition: color 0.2s;
}
.btn:hover {
  background-color: var(--hover-color);
}

.text {
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
}
@media screen and (max-width: 400px) {
  .text {
    font-size: 20px;
  }
}

.tytle-Left {
  font-weight: 700;
  font-size: 44px;
  line-height: 53px;
  position: relative;
}
.tytle-Left::after {
  content: "";
  position: absolute;
  width: 150px;
  height: 2px;
  background-color: var(--accent-color);
  left: 0;
  bottom: -15px;
}
@media screen and (max-width: 400px) {
  .tytle-Left {
    font-size: 38px;
  }
}

.tytle-Center {
  font-weight: 700;
  font-size: 44px;
  position: relative;
}
.tytle-Center::after {
  content: "";
  height: 2px;
  width: 150px;
  background-color: var(--accent-color);
  position: absolute;
  left: calc(50% - 75px);
  bottom: -17px;
}
@media screen and (max-width: 400px) {
  .tytle-Center {
    font-size: 38px;
  }
}

.btn-learnMore {
  margin-left: 24px;
  color: var(--accent-color);
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  background-color: #fff;
}
.btn-learnMore:hover {
  color: var(--hover-color);
}

[class*=__container] {
  max-width: 1402px;
  margin: 0 auto;
  padding: 0 15px;
}

/*-------------------------------Header-------------------------------*/
.header {
  background-color: var(--tytle-color);
  position: fixed;
  top: 37px;
  left: 0;
  width: 100%;
  transition: top 0.1s linear;
  z-index: 999;
}
.header.-active {
  top: 0px;
}
.header__container {
  display: flex;
  justify-content: space-between;
  padding: 30px 15px;
}
.header__navigation {
  display: flex;
  align-items: center;
}
.menu__body {
  display: flex;
  gap: 32px;
}
@media screen and (max-width: 800px) {
  .menu__body {
    position: absolute;
    top: 0;
    right: -100%;
    transition: left 0.2s;
    height: 100vh;
    width: 60%;
    background-color: var(--tytle-color);
    opacity: 0.9;
    flex-direction: column;
    padding-top: 120px;
    padding-left: 40px;
    overflow: auto;
  }
  .menu__body.-active {
    right: 0;
  }
}
@media screen and (max-width: 400px) {
  .menu__body {
    width: 100%;
    opacity: 1;
  }
}
.menu__item {
  align-self: center;
}
.menu__link {
  font-weight: 400;
  font-size: 18px;
  color: var(--white-textColor);
  transition: color font-size 0.2s;
}
.menu__link:hover {
  color: var(--hover-color);
  font-size: 22px;
}
@media screen and (max-width: 800px) {
  .menu__link {
    font-size: 25px;
  }
  .menu__link:hover {
    color: var(--hover-color);
    font-size: 28px;
  }
}
.menu__buy {
  margin-left: clamp(0rem, -20.154rem + 44.11vw, 18.5rem);
  margin-right: 50px;
  position: relative;
}
.menu__buy:hover svg {
  transform: scale(1.2);
}
.menu__buy:hover svg path {
  stroke: var(--hover-color);
}

.menu-burger {
  display: none;
}
@media screen and (max-width: 800px) {
  .menu-burger {
    display: block;
    width: 40px;
    height: 20px;
    position: relative;
    align-self: center;
    cursor: pointer;
  }
  .menu-burger span {
    transition: all 0.3s ease 0s;
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    height: 2px;
    width: 100%;
    background-color: var(--white-textColor);
  }
  .menu-burger span:first-child {
    top: 0;
  }
  .menu-burger span:last-child {
    top: auto;
    bottom: 0;
  }
  .menu-burger.-active span {
    transform: scale(0);
  }
  .menu-burger.-active span:first-child {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .menu-burger.-active span:last-child {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

.buy-count {
  position: absolute;
  background-color: #FC5468;
  height: 18px;
  width: 18px;
  border-radius: 9px;
  right: -7px;
  top: -22px;
  color: #fff;
  font-weight: 400;
  font-size: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*------------------------------/Header-------------------------------*/
/*------------------------------Main-------------------------------*/
.offer {
  background-color: var(--accent-color);
}
.offer__text {
  height: 37px;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: var(--tytle-color);
  padding: 8px 0px;
}
@media screen and (max-width: 550px) {
  .offer__text {
    font-size: clamp(0.75rem, 0.228rem + 2.61vw, 1.125rem);
  }
}

.main {
  background-color: var(--bg-color);
  padding-bottom: 137px;
}
.main__container {
  display: flex;
  justify-content: space-between;
}
.main__info {
  margin-top: clamp(7.5rem, 4.376rem + 15.62vw, 18.063rem);
}
@media screen and (max-width: 740px) {
  .main__info {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}
.main__course {
  font-weight: 400;
  font-size: 16px;
  color: var(--white-textColor);
  position: relative;
  transition: color font-size 0.2s;
}
.main__course::after {
  content: "";
  height: 2px;
  width: 100%;
  background-color: var(--accent-color);
  position: absolute;
  left: 0px;
  top: 28px;
}
.main__course:hover {
  color: var(--hover-color);
  font-size: 22px;
}
.main__course:hover::after {
  top: 35px;
  background-color: var(--hover-color);
}
.main__tytle {
  margin-bottom: 22px;
  margin-top: clamp(1.875rem, 1.173rem + 3.51vw, 4.25rem);
  font-style: normal;
  font-weight: 700;
  font-size: clamp(2.75rem, 2.547rem + 1.02vw, 3.438rem);
  line-height: 60px;
  color: var(--white-textColor);
  max-width: 509px;
}
.main__text {
  color: var(--white-textColor);
  margin-bottom: 22px;
  max-width: 548px;
}
.main__sign {
  font-weight: 400;
  font-size: 17px;
  color: var(--text-color);
  margin-bottom: 48px;
}
.main__img {
  max-width: clamp(18.75rem, 1.59rem + 45.76vw, 41.688rem);
  max-height: auto;
  margin-top: 249px;
}
@media screen and (max-width: 740px) {
  .main__img {
    display: none;
  }
}

/*------------------------------/Main-------------------------------*/
/*------------------------------Courses-------------------------------*/
.courses {
  background-color: var(--bg-color);
}
.courses_all {
  max-width: 686px;
  margin: 0 auto;
  text-align: center;
}
.courses_desc {
  color: var(--white-textColor);
  margin-bottom: 46px;
  padding: 0 21px;
}
.courses_view-all {
  margin-bottom: 80px;
}
.courses__tytle {
  color: var(--white-textColor);
  margin-bottom: 86px;
}
.courses__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  gap: 20px;
  margin: 0 auto;
  padding-bottom: 144px;
}
@media screen and (max-width: 1308px) {
  .courses__cards {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    max-width: 830px;
  }
}
@media screen and (max-width: 878px) {
  .courses__cards {
    grid-template-columns: 1fr;
  }
}
.card {
  width: 395px;
  height: 422px;
  background-color: #fff;
}
@media screen and (max-width: 500px) {
  .card {
    width: 300px;
    height: 400px;
  }
}
@media screen and (max-width: 370px) {
  .card {
    width: 250px;
    height: 350px;
  }
}
@media screen and (max-width: 1308px) {
  .card-last {
    grid-column: span 2;
  }
}
@media screen and (max-width: 878px) {
  .card-last {
    grid-column: span 1;
  }
}
.card__tytle {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: var(--tytle-color);
  max-width: 280px;
  margin: 22px 0px 8px 24px;
}
.card__author {
  font-weight: 400;
  font-size: 17px;
  margin-left: 24px;
  margin-bottom: 15px;
  color: var(--text-color);
}
.card__price {
  font-weight: 400;
  font-size: 22px;
  color: var(--tytle-color);
  margin-bottom: 16px;
  margin-left: 24px;
}
/*-----------------------------/Courses-------------------------------*/
/*------------------------------recommend -------------------------------*/
.recommend {
  background-color: var(--tytle-color);
  margin-bottom: 144px;
}
.recommend__wrapper {
  max-width: 1440px;
  max-height: 664px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.recommend__img {
  max-width: 720px;
  align-self: flex-start;
}
@media screen and (max-width: 1440px) {
  .recommend__img {
    align-self: center;
  }
}
@media screen and (max-width: 1100px) {
  .recommend__img {
    display: none;
  }
}
.recommend__info {
  max-width: 624px;
  margin: clamp(1.25rem, -24.818rem + 37.58vw, 9rem) 43px;
}
@media screen and (max-width: 1100px) {
  .recommend__info {
    margin: 20px auto;
    text-align: center;
    padding: 0 15px;
  }
}
.recommend__tytle {
  color: var(--white-textColor);
  margin-bottom: 50px;
}
@media screen and (max-width: 1100px) {
  .recommend__tytle::after {
    left: calc(50% - 75px);
  }
}
.recommend__desc {
  color: var(--white-textColor);
  margin-bottom: 46px;
}
/*------------------------------/recommend -------------------------------*/
.workshops {
  margin-bottom: 145px;
}
.workshops__about {
  margin: 0 auto;
  max-width: 686px;
  text-align: center;
}
.workshops__tytle {
  margin-bottom: 50px;
}
.workshops__desc {
  margin-bottom: 40px;
  color: var(--text-color);
}
.workshops__view-all {
  margin-bottom: 80px;
}
.workshops__cards {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 48px;
  margin: 0 auto;
}
@media screen and (max-width: 1342px) {
  .workshops__cards {
    grid-template-columns: 1fr 1fr;
    max-width: 834px;
  }
}
@media screen and (max-width: 900px) {
  .workshops__cards {
    grid-template-columns: 1fr;
  }
}
.workshop {
  width: 393px;
  padding: 22px 35px 24px 24px;
  background-color: #fff;
}
@media screen and (max-width: 500px) {
  .workshop {
    width: 300px;
    height: 400px;
  }
}
@media screen and (max-width: 370px) {
  .workshop {
    width: 250px;
    height: 300px;
  }
}
@media screen and (max-width: 1342px) {
  .workshop-last {
    grid-column: span 2;
  }
}
@media screen and (max-width: 900px) {
  .workshop-last {
    grid-column: span 1;
  }
}
.workshop__tytle {
  font-weight: 700;
  font-size: 24px;
  color: var(--tytle-color);
}
.workshop__desc {
  margin-top: 11px;
  margin-bottom: 28px;
  color: var(--text-color);
}
.workshop__learn-more {
  margin-left: 0;
}

/*------------------------------forTeachers  -------------------------------*/
.forTeachers {
  background-color: var(--tytle-color);
  margin-bottom: clamp(6.25rem, 3.422rem + 14.14vw, 15.813rem);
}
.forTeachers_tytle {
  color: var(--white-textColor);
  margin-bottom: 50px;
}
@media screen and (max-width: 740px) {
  .forTeachers_tytle::after {
    left: calc(50% - 75px);
  }
}
.forTeachers__container {
  display: flex;
  justify-content: space-between;
  gap: 48px;
}
.forTeachers__img {
  margin-top: 109px;
  margin-bottom: 88px;
}
@media screen and (max-width: 740px) {
  .forTeachers__img {
    display: none;
  }
}
@media screen and (max-width: 1060px) {
  .forTeachers__img {
    align-self: center;
  }
}
.forTeachers__info {
  max-width: 614px;
  margin-top: 263px;
}
@media screen and (max-width: 1255px) {
  .forTeachers__info {
    margin-top: clamp(3.125rem, -16.004rem + 41.36vw, 16.438rem);
  }
}
@media screen and (max-width: 740px) {
  .forTeachers__info {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}
.forTeachers__text {
  color: var(--white-textColor);
  margin-bottom: 46px;
  padding-right: 66px;
}
@media screen and (max-width: 740px) {
  .forTeachers__text {
    padding: 0;
  }
}
@media screen and (max-width: 740px) {
  .forTeachers__about-skillz {
    margin-bottom: 40px;
  }
}

/*------------------------------/forTeachers  -------------------------------*/
/*------------------------------Articles -------------------------------*/
.articles {
  margin-bottom: clamp(6.25rem, 3.422rem + 14.14vw, 15.813rem);
}
.articles_desc {
  color: var(--text-color);
}
.articles__tytle {
  color: var(--tytle-color);
}
.card__date {
  margin-top: 23px;
  margin-left: 24px;
  font-weight: 400;
  font-size: 17px;
  color: var(--text-color);
}
/*------------------------------/Articles -------------------------------*/
/*------------------------------Submit -------------------------------*/
.submit__container {
  background-color: var(--accent-color);
  padding-top: 78px;
  padding-bottom: 95px;
  padding-left: 0;
  padding-right: 0;
  position: absolute;
  left: 0;
  top: -175px;
  width: 100%;
}
@media screen and (max-width: 580px) {
  .submit__container {
    padding-top: 40px;
    padding-bottom: 48px;
  }
}
.submit__tytle {
  font-weight: 700;
  font-size: 44px;
  color: var(--tytle-color);
  text-align: center;
  margin-bottom: 62px;
}
@media screen and (max-width: 600px) {
  .submit__tytle {
    font-size: clamp(2.125rem, 1.411rem + 3.57vw, 2.75rem);
    margin-bottom: 45px;
  }
}
.submit__form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}
.submit__email {
  background-color: var(--accent-color);
  outline: none;
  border-radius: 4px;
  border: 1px solid #1C1C33;
  font-weight: 700;
  font-size: 20px;
  line-height: 53px;
  color: var(--tytle-color);
  padding-left: 19px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 400px;
  height: 64px;
}
.submit__email:focus {
  border: 4px solid var(--hover-color);
}
@media screen and (max-width: 470px) {
  .submit__email {
    width: 300px;
    height: 50px;
  }
}
.submit__btn {
  cursor: pointer;
  font-weight: 700;
  font-size: 20px;
  line-height: 53px;
  color: var(--accent-color);
  padding: 5px 23px;
  background-color: var(--tytle-color);
  transition: color background-color 0.2s;
}
.submit__btn:hover {
  background-color: var(--hover-color);
  color: var(--white-textColor);
}
@media screen and (max-width: 580px) {
  .submit__btn {
    width: 400px;
    line-height: 40px;
  }
}
@media screen and (max-width: 470px) {
  .submit__btn {
    width: 300px;
    line-height: 40px;
  }
}

/*-----------------------------/Submit -------------------------------*/
/*------------------------------Footer -------------------------------*/
.footer {
  background-color: var(--tytle-color);
}

.footer__container {
  position: relative;
  max-width: 1372px;
  padding: 0;
}

.footer__logo {
  padding-top: 224px;
  margin-bottom: 80px;
  height: 44;
  width: 135px;
}
@media screen and (max-width: 800px) {
  .footer__logo {
    padding-top: clamp(7.5rem, 3.167rem + 21.67vw, 14rem);
  }
  .footer__logo img {
    display: none;
  }
}

.footer__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-bottom: 144px;
  gap: 30px 180px;
}
@media screen and (max-width: 950px) {
  .footer__content {
    justify-content: center;
    text-align: center;
  }
}

.nav {
  display: flex;
}

.nav__body {
  max-width: 283px;
}

.nav__item {
  margin-bottom: 16px;
}

.nav__mainLink {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 23px;
  color: var(--white-textColor);
}
.nav__mainLink:hover {
  color: var(--hover-color);
  font-size: 22px;
}

.nav__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: var(--white-textColor);
}
.nav__link:hover {
  color: var(--hover-color);
  font-size: 22px;
}

.socials {
  max-width: 614px;
}

.socials__tytle {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  margin-bottom: 23px;
  color: var(--white-textColor);
}

.socials__social {
  display: flex;
  gap: 16px;
}

.socials__icon:hover svg {
  transform: scale(1.2);
}

/*------------------------------/Footer -------------------------------*//*# sourceMappingURL=style.css.map */